<div>
  <script>
    let markers = [];
    const current = document.getElementById("current").innerHTML;
    let titleID = "title" + current;
    let positionID = "position" + current;
    let titleCurrent = document.getElementById(titleID).innerHTML;
    let positionCurrent = document.getElementById(positionID).innerHTML;
    let positionCurrentObj = positionCurrent.split(" ");
    let positionCurrentObjCenter = {lat: Number(positionCurrentObj[0]), lng: Number(positionCurrentObj[1])};

    const total = document.getElementById("total").innerHTML;
    for (let i = 0; i < total; i++){
      let title = "title" + i;
      let position = "position" + i;
      let description = "description" + i;
      let titles = document.getElementById(title).innerHTML;
      let positions = document.getElementById(position).innerHTML;
      let descriptions = document.getElementById(description).innerHTML;
      let positionObj = positions.split(" ");
      let positionImport = {lat: Number(positionObj[0]), lng: Number(positionObj[1])};
      markers.push({coords: positionImport, title: titles, description: descriptions})
    }

    function initMap(){
      const options = {
        zoom: 10,
        center: positionCurrentObjCenter
      };
      const map = new google.maps.Map(document.getElementById("map"), options);

      const icon = "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";

      const addMarker = function (obj) {
        const marker = new google.maps.Marker({
          position: obj.coords,
          map: map,
          animation: google.maps.Animation.DROP,
        });

        if (obj.title === titleCurrent) {
          marker.setIcon(icon);
        }

        const infoWindow = new google.maps.InfoWindow({
          content: `<h3>${obj.title}</h3>`
        });

        marker.addListener('click', function(){
          infoWindow.open(map, marker);
          map.setZoom(12);
          map.setCenter(marker.getPosition());

          const currentPosition = obj.coords.lat + ' ' + obj.coords.lng;

          document.getElementById("title").innerHTML = obj.title;
          document.getElementById("position").value = currentPosition;
          document.getElementById("description").innerHTML = obj.description;
        });
      }

      for (const marker of markers) {
        addMarker(marker);
      }
    }
  </script>
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6z5vqv2nyIpDCo9Jovbl9uZkSXlHn-0E&callback=initMap&libraries=&v=weekly"
  async
  ></script>
</div>
