<header>
  <nav class="navbar sticky-top navbar-expand-md">
    <a class="navbar-brand" href="/">WIKI MAP</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-item nav-link" href="/favorites">My Favoriates</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="/points">My Points</a>
        </li>
        <% if (user) { %>
        <li class="nav-item dropdown">
          <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Maps
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/new">New Map</a>
            <a class="dropdown-item" href="/edit">Edit Map</a>
          </div>
        </li>
        <% } %>
      </ul>



      <!-- vvv ADD APPROPRIATE VAR NAME vvv -->

      <% if (!user) {%>
      <!-- SIGNED OUT -->
      <div class="navbar-nav">
        <li class="nav-item">
          <a class="nav-item nav-link" href="/login">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="/register">Register</a>
        </li>
      </div>
      <% } else { %>

      <!-- SIGNED IN -->
      <div id="current_user"> Logged in: <%= user %> </div>
      <div class="navbar-nav">

        <li class="nav-item">
          <a class="nav-item nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="/logout">Log Out</a>
        </li>
      </div>
      <% } %>

    </div>
  </nav>
</header>
