<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_includes') %>

    <title>ERROR - MAP APP</title>
  </head>

  <body>
    <div class='center error-layout'>
      <h1>Error</h1>
      <div class="line"></div>
      <!-- ERROR CODES HERE -->
      <h2>404</h2>
      <%=error_message%>
    </div>
  </body>
</html>
