<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_includes') %>

    <script>
      $(document).ready(function(){
        $("#auto-input").click(function(event){
          event.preventDefault();
          const position = $('#position').text()
          $("#positionImport").val(position);
        });
      });
    </script>

    <title>Create New Map - MAP APP</title>
  </head>
  <body>
    <%- include('partials/_nav') %>
    <%- include('partials/_click') %>

    <div class="new-map-box">
      <form class="form-inline" action="/new-map" method="POST">
        <div id="current-position">
          <h1>Create A New Map</h1>
          <div class="flex-row">
            <label for="title">Title:</label>
            <input type="text" name="title" placeholder="Title">
          </div><br>
          <div class="flex-row">
            <label for="city">City:</label>
            <input type="text" name="city" placeholder="City">
          </div><br>
          <div class="flex-row">
            <label for="privacy">Visibility:</label>
            <select name="privacy">
              <option value="public">Public</option>
              <option value="Private">Private</option>
            </select>
          </div><br>
            <div class="flex-column">
              <br><button type="submit" class="btn">Start!</button>
            </div>
          </div>
        </form>
    </div>

    <div id="map"></div>
    <div style="display: none">
      <div class="controls zoom-control">
        <button class="zoom-control-in" title="Zoom In">+</button>
        <button class="zoom-control-out" title="Zoom Out">−</button>
      </div>
    </div>
  </body>
</html>
