<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_includes') %>

    <script>
      $(document).ready(function(){
        $("#auto-input").click(function(event){
          event.preventDefault();
          const position = $('#position').text()
          $("#positionImport").val(position);
        });
      });
    </script>

    <title>map test</title>
  </head>
  <body>
    <%- include('partials/_nav') %>
    <%- include('partials/_click') %>
    <h1>Create your own map</h1>
    <div id="map"></div>

  </body>
</html>
