<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_includes') %>

    <title>MAP APP LOGIN</title>
  </head>

  <body>
    <%- include('partials/_nav') %>
    <h3 class="text-dark font-weight-bold">Sorry, there is no location for the map...</h3>
  </body>
</html>
