<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_includes') %>

    <title>Profile</title>
  </head>

  <body>
    <%- include('partials/_nav') %>
    <h1>User Profile</h1>
  </body>
</html>
