<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_includes') %>

    <title>MAP APP REGISTER</title>
  </head>

  <body>
    <%- include('partials/_nav') %>
    <div class='center form-layout'>
      <h1>Register</h1>
      <form action="/register" method="POST">
        <label for="user">User Name:</label>
        <input type="text" name="user" placeholder="Username">

        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="your@email.com">

        <label for="pass">Password:</label>
        <input type="password" name="pass" placeholder="Password">

        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
