<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_includes') %>
  <title>map details</title>
  <style>
    #search-layout{
      margin: auto;
      width: 800px;
      height: 100%;
    }
    .needs-validation{
      display: flex;
      flex-direction: column;
      align-content: center;
    }
  </style>
</head>
<body>
  <%- include('partials/_nav') %>

  <div id="search-layout">
    <h4 class="mb-3">Search</h4>
    <form class="needs-validation" method="POST" action="/search">

      <div class="mb-3">
        <label for="email">City</span></label>
        <input type="text" class="form-control" id="email" placeholder="toronto" required="" name="city">
      </div>

      <div class="mb-3">
        <label for="address">Description</label>
        <input type="text" class="form-control" id="address" placeholder="institute" required="" name="description">
      </div>
      <button type="submit" class="btn btn-outline-success">Search</button>
    </form>
  </div>
</body>
</html>
