<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- <div class="navbar-nav"> -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-item nav-link" href="/urls">My URLs</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/urls.json">JSON</a>
          </li>
        </ul>

        <% if (!currentUser) { %>
        <form class="form-inline my-2 my-lg-0" action="/login" method="GET">
          <button class="btn btn-outline-dark" type="submit">Log in</button>
        </form>
        <form class="form-inline my-2 my-lg-0" action="/register" method="GET">
          <button class="btn btn-outline-dark" style="margin-left: 10px;" type="submit">Register</button>
        </form>
        <% } else { %>
          <form class="form-inline my-2 my-lg-0" method="POST" action="/logout">
            <a class="nav-item nav-link disabled" href="#">Logged in as <%= currentUser %></a>
            <button class="btn btn-outline-dark" type="submit">Logout</button>
          </form>
        <% } %>
    </div>
  </nav>
</header>
