<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>map details</title>
  <style>
    #map{
      height: 400px;
      width: 100%;
    }
  </style>
</head>
<body>
  <div id="current-position">
    <h4>Details</h4>
    <h5>Title:</h5>
    <p id="title" name="title"><%= title %></p>
    <h5>Position:</h5>
    <p id="position" name="position"><%= position.lat %> <%= position.lng %></p>
  </div>
  <%- include('particles/_map') %>
  <div id="map"></div>
</body>
</html>
