<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <%= greeting %>
  <form method="GET" action="/new-map">
    <td><button type="submit" class="btn btn-outline-primary">New</button></td>
  </form>
  <form method="GET" action="/detail">
    <td><button type="submit" class="btn btn-outline-primary">Detail</button></td>
  </form>
</body>
</html>
