<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $("#auto-input").click(function(event){
        event.preventDefault();
        const position = $('#position').text()
        $("#positionImport").val(position);
      });
    });
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>map test</title>
  <style>
    #map{
      height: 400px;
      width: 100%;
    }
    #current-position{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 500px;
    }
    p{
      margin: 8px;
    }
    select {
      margin: 8px;
    }
    textarea {
      margin: 8px;
    }
    button {
      margin: 8px;
    }
    h4 {
      margin: 8px;
    }
  </style>
</head>
<body>
  <%- include('partials/_header') %>
  <%- include('partials/_click') %>
  <h1>Create your own map</h1>
  <div id="map"></div>
  <form class="form-inline" action="/new-map" method="POST">
    <div id="current-position">
      <h4>Map details:</h4>
      <h4>position selected:</h4>
      <p id="position">click the map or select current position</p>
      <button id="auto-input" class="btn btn-outline-primary">use this position</button>
      <input id="positionImport" type="text" name="position" placeholder="position">
      <input type="text" name="title" placeholder="title">
      <h4>category</h4>
      <select name="category" id="category">
        <option value="drinking">drinking</option>
        <option value="restaurants">restaurants</option>
        <option value="art galleries">art galleries</option>
        <option value="historic places">historic places</option>
        <option value="parks">parks</option>
        <option value="shopping malls">shopping malls</option>
      </select>
      <textarea name="description" type="text" placeholder="description"></textarea>
      <button type="submit" class="btn btn-outline-primary">submit</button>
    </div>
  </form>
  <form method="GET" action="/">
    <button type="submit" class="btn btn-outline-primary">Home</button>
  </form>
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6z5vqv2nyIpDCo9Jovbl9uZkSXlHn-0E&callback=initMap&libraries=&v=weekly"
  async
  ></script>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
