<div>
  <script>
    function initMap(){
      const options ={
        zoom:8,
        center:{lat:42.3601, lng:-71.0589}
      };
      const map = new google.maps.Map(document.getElementById("map"), options);
      const icon = "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";

      const addMarker = function (obj) {
        const marker = new google.maps.Marker({
        position: obj.coords,
        map: map,
        animation: google.maps.Animation.DROP,
        });
        if (obj.image) {
          marker.setIcon(obj.image);
        }
        const infoWindow = new google.maps.InfoWindow({
          content: `<h1>${obj.describe}</h1>`
        });
        marker.addListener('click', function(){
          infoWindow.open(map, marker);
          map.setZoom(12);
          map.setCenter(marker.getPosition());
        });
      }
      const markers = [
        {coords:{lat:42.3601, lng:-71.0589}, describe: 'somewhere', image: icon},
        {coords:{lat:42.8584, lng:-70.9300}, describe: 'another place', image: icon}
      ];

      for (const marker of markers) {
        addMarker(marker);
      }
    }
  </script>
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6z5vqv2nyIpDCo9Jovbl9uZkSXlHn-0E&callback=initMap&libraries=&v=weekly"
  async
  ></script>
</div>
