@import "./partials/palette";
@import "./partials/mixins";

.recommandation-content{
  display: flex;
  flex-wrap: wrap;
  margin: 0px;;
}

.carousel-item {
  height: 400px;
  background-size: auto auto;
  border-radius: 0rem;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

#recommandation{
  margin: 30px;
}

#unfavourite {
  display: none;
  margin: 30px;
}
