@import "./partials/palette";
@import "./partials/mixins";

body {
  background-color: #EEE;

  h1 {
    color: $color1;
  }

  #map{
    position: fixed !important;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  #current-position{
    margin: 0 1.5em;


    h4 {
      display: flex;
      justify-content: space-around;
    }
    .flex-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .flex-column {
      display: flex;
      flex-direction: column;
    }
    textarea {
      resize: none;
      margin: 0;
    }
    select {
      margin: 0;
    }
    button {
      background-color: transparent;
      border: 1px solid $color3;
      border-radius: 10px;
      margin: 1em auto;
      width: 50%;
    }
    button:hover {
      background-color: $color4;
    }
  }
  p{
    margin: 8px;
  }
  select {
    margin: 8px;
  }
  textarea {
    margin: 8px;
  }
  button {
    margin: 8px;
  }
  h4 {
    margin: 8px;
  }

  .title {
    @include title-center;
    h1 {
      background-color: $color5;
      color: $color3;
      padding: 1em;
      border-radius: 25px;
      box-shadow: 2px 2px 5px $color3;
    }
  }

  .center {
    @include center;
  }

  .form-layout {
    height: 75vh;
    h1 {
      margin-right: 2em;
      color: $color2;
    }

    form {
      display: flex;
      flex-direction: column;
      border-left: 2px solid $color1;
      padding-left: 2em;

      input {
        margin-bottom: 1em;
      }
    }
  }
  .error-layout {
    height: 75vh;

    h1 {
      text-align: center;
      margin: 1em 1em;
      color: $color5;
    }
    h2 {
      margin: 0 2em;
    }
  }

  .line {

    height: 100px;
    position: relative;

  }

  .new-map-box {
    z-index: 3;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: #FFF;
    padding: 1em;
    border-radius: 25px;
    box-shadow: 2px 2px 5px black;

    .error-box {
      background-color: rgb(228, 50, 50);
      color: $color3;
      display: flex;
      justify-content: space-around;
      margin-bottom: 1em;
    }
  }
  .map-list-box {
    z-index: 3;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: #FFF;
    padding: 1em;
    border-radius: 25px;
    box-shadow: 2px 2px 5px black;

    button {
      background-color: transparent;
      border: 1px solid $color3;
      border-radius: 10px;
      margin: 0;
    }
    button:hover {
      background-color: $color4;
    }

    .table td, .table th{
      vertical-align: 0;
      border-top: 0;
    }

    h2 {
      @include center;
    }
  }

  .edit-map-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .edit-map-item {
    @include center;
  }

  #new-point {
    background-color: rgba(187, 187, 187, 0.534);
    position: absolute;
    right: 0;
    margin: 1em;
    border-radius: 10px;

    z-index: 1;

    .error-box {
      background-color: rgb(228, 50, 50);
      color: $color3;
      display: flex;
      justify-content: space-around;
      margin-bottom: 1em;
    }
  }

  .map-cover {
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 2;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

.controls.zoom-control {
  display: flex;
  flex-direction: column;
  margin: 0.7em;
  font: 1.5rem Arial;
  border-radius: 10px;
  box-shadow: 1px 1px 5px;


  .zoom-control-in {
    border: none;
    border-bottom: 1px solid $color3;
    border-radius: 10px 10px 0 0;
    background-color: $color4;
    padding: 0.1em 0.3em;
    margin: 0;
  }

  .zoom-control-out {
    border: none;
    border-radius: 0 0 10px 10px;
    background-color: $color4;
    padding: 0.1em 0.3em;
    margin: 0;
  }
}

header {
  nav {
    background-color: $color1;

    #dropdownMenuButton {
      border: none;
      background-color: transparent;
      color: #007bff;
      padding: 0;
    }
  }
}
