@import "./partials/palette";
@import "./partials/mixins";

body {
  background-color: #EEE;

  h1 {
    color: $color1;
  }

  #map{
    position: fixed !important;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  #current-position{
    // @include center;
    // flex-direction: column;
    margin: 0 1em;
    .flex-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    textarea {
      resize: none;
    }
  }
  p{
    margin: 8px;
  }
  select {
    margin: 8px;
  }
  textarea {
    margin: 8px;
  }
  button {
    margin: 8px;
  }
  h4 {
    margin: 8px;
  }

  .title {
    @include title-center;
    h1 {
      background-color: $color5;
      color: $color3;
      padding: 1em;
      border-radius: 25px;
      box-shadow: 2px 2px 5px $color3;
    }
  }

  .center {
    @include center;
  }

  .form-layout {
    height: 75vh;
    // display: flex;
    // flex-direction: column;
    h1 {
      margin-right: 2em;
    }

    form {
      display: flex;
      flex-direction: column;
      border-left: 2px solid black;
      padding-left: 2em;

      input {
        margin-bottom: 1em;
      }
    }
  }
}

header {
  nav {
    background-color: $color1;
  }
}
